@import url("base.css");

.container {
    min-width: 100%;
    min-height: 100vh;
    background-color: black;
    color: white;
    display: grid;
    place-items: center;
}


.wrapper {
    display: grid;
    place-items: center;
    text-align: center;
    border: 1px solid #ccc;
    /* border-radius: 15px; */
    padding: 5em 6em;
    border-radius: 15px;
    box-shadow: 0 0px 30px rgba(231, 11, 165, 0.692);
}

.wrapper h1 {
    font-size: var(--heading-size);
    font-weight: bold;
}

.wrapper h3 {
    font-size: var(--subheading-size);
    font-weight: 400;
}

.wrapper p {
    font-size: var(--body-size);
    font-weight: normal;
}

.wrapper .content {
    width: max-content;
    margin-top: 50px;
    padding: 0.5em 1em;
    border: 2px solid white;
    background-color: white;
    color: black;
}


.wrapper .content:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

